:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* generic styles for the page */
body {
    padding: 0;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--magenta);
}

/* a:hover {
    color: var(--hotmag);
    text-decoration:none;
} */
/* intro styles */
#intro {
    padding: 4rem 1rem 10rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.7;
}

#intro .name {
    font-family: var(--mono);
    font-size: 1rem;
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}
.gradient{
    height: 2px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(96,46,126,1) 48%, rgba(121,24,180,1) 115%);
}
.gradient-two{
 height: 2px;
 background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 26%, rgba(94,126,46,1) 48%, rgba(121,24,180,1) 115%);
}
.section-plum {
    background-color: var(--plum);

}

.contact {
    /* background-color: #e310cb; */
    opacity: .5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    /* border: .5px white solid; */
    /* margin-top: 15px; */
    /* padding: 3rem 0; */
    display: block;
background-color: var(--plum);
}

.contact h2 {
    font-size: 2rem;
    color: white;

}

#bott {
    background-color: var(--white);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
    margin-bottom: 60px;
    margin-top: 30px;
}

#bott:hover {
    color: #86fbfb;
    /* background-color: #E310CB; */
}

.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #83832c;
}

/* the start to make nav edits!! */
nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;

}

nav[class*="fa"] {
    font-size: 150%;
    color: var(--aqua);
}

nav a {
    color: white;
    text-decoration: none;
    display: block;

}

nav a:hover {
    color: var(--magenta);
}

#lol {

    color: #d423ce;

}

#lol:hover {
    color: wheat;
}

.button {
    background-color: var(--magenta);
    color: bisque;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    color: white;
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        margin-right: auto;
        text-align: left;
    }

}

footer {
    text-align: center;
    padding: 4rem 0;
    display: block;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}
/* here is  the edit of projects! */
#projects {
  padding: 4rem 1rem;
}
#projects h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
    color: var(--aqua);
}

#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}
.blackbox {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
}
#projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}
#projects img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-left: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-radius: 25px;
}

